SPIFFWORKFLOW_BACKEND_DATABASE_TYPE=postgres
SPIFFWORKFLOW_BACKEND_DATABASE_URI=postgresql://postgres:postgres@192.168.2.100:1111/postgres
FLASK_DEBUG=1
FLASK_SESSION_SECRET_KEY=e7711a3ba96c46c68e084a86952de16f
SPIFFWORKFLOW_BACKEND_ENV=local_development
SPIFFWORKFLOW_BACKEND_LOAD_FIXTURE_DATA=false
SPIFFWORKFLOW_BACKEND_OPEN_ID_SERVER_URL=http://192.168.2.100:8080/auth/realms/forms-flow-ai

SPIFFWORKFLOW_BACKEND_PERMISSIONS_FILE_NAME=acceptance_tests.yml
SPIFFWORKFLOW_BACKEND_PORT=8000
# Needed for background timer events to work properly
SPIFFWORKFLOW_BACKEND_RUN_BACKGROUND_SCHEDULER_IN_CREATE_APP=true
SPIFFWORKFLOW_BACKEND_URL_FOR_FRONTEND=http://localhost:8001
SPIFFWORKFLOW_BACKEND_UPGRADE_DB=true
SPIFFWORKFLOW_BACKEND_URL=http://192.168.2.100:8000
SPIFFWORKFLOW_BACKEND_BPMN_SPEC_ABSOLUTE_DIR=/mnt/d/Projects/AOT/forms-flow-ai-bpm/spiffworkflow-backend/process_models
# SPIFFWORKFLOW_BACKEND_OPEN_ID_CLIENT_ID=spiffworkflow-backend
SPIFFWORKFLOW_BACKEND_OPEN_ID_CLIENT_ID=forms-flow-web
SPIFFWORKFLOW_BACKEND_OPEN_ID_CLIENT_SECRET_KEY=Cndi8E3jMaHs3gUwZHaRrjBbuKCtKGm4
SPIFFWORKFLOW_BACKEND_OPEN_ID_IS_AUTHORITY_FOR_USER_GROUPS=true
SPIFFWORKFLOW_BACKEND_WORKFLOW_ADMIN_GROUP=camunda-admin
PYTHONPATH=src;tests
SPIFFWORKFLOW_BACKEND_CELERY_ENABLED=true
SPIFFWORKFLOW_BACKEND_CELERY_BROKER_URL=redis://192.168.2.100:6379
SPIFFWORKFLOW_BACKEND_CELERY_RESULT_BACKEND=redis://192.168.2.100:6379
SPIFFWORKFLOW_BACKEND_RUNNING_IN_CELERY_WORKER=true
SPIFFWORKFLOW_BACKEND_USE_THREADS_FOR_TASK_EXECUTION=false
SPIFFWORKFLOW_BACKEND_CONNECTOR_PROXY_URL=http://192.168.2.100:8004